<ng-template #noData>
  <mat-card *ngIf="!(queryParamEmpty$ | async) && searchCompleted">
    <mat-card-title>Нічого не знайдено</mat-card-title>
  </mat-card>
</ng-template>

<mat-card *ngIf="queryParamEmpty$ | async">
  <mat-card-title>Оберіть навчальний план</mat-card-title>
</mat-card>

<ng-container *ngIf="!(queryParamEmpty$ | async) && (educationPlan$ | async) as ep; else noData">
  <div class="d-flex justify-content-end pb-4">
    <button mat-stroked-button class="save-excel-btn" (click)="saveExcel(ep)">Зберегти Excel</button>
    <button mat-flat-button color="primary" [disabled]="!changedTerms.length" (click)="saveChanges(ep)">Зберегти зміни</button>
  </div>

  <mat-accordion displayMode="flat" [multi]="true">
    <mat-expansion-panel *ngFor="let term of ep; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title class="justify-content-center">
          <div class="panel-title">{{i + 1}} Семестр</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <lk-table
        [dataSource]="term"
        [displayedColumns]="displayedColumns"
        [termId]="i"
        (dataChangedEvent)="termDataChaged($event)"
      ></lk-table>

      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>Сума</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <lk-total-term-table
            [termId]="i">
          </lk-total-term-table>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>