<form [formGroup]="epForm" *ngIf="{
  stateGroupOptions: stateGroupOptions$ | async
} as opts">
  <mat-form-field *ngIf="!dataLoading" appearance="fill" class="w-100">
    <mat-label>Навчальний план</mat-label>

    <input type="text"
            matInput
            #searchInput
            formControlName="ep"
            [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of opts.stateGroupOptions" [label]="group.department">
          <mat-option *ngFor="let name of group.ids" [value]="name">
            {{name}}
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    
    <button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
