
<lk-header></lk-header>

<div class="container">
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>search</mat-icon>
        Пошук навчальних планів
      </ng-template>
      
      <lk-search-wrapper class="mt-4 d-block"></lk-search-wrapper>
      <lk-view-ep></lk-view-ep>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add</mat-icon>
        Створити навчальний план
      </ng-template>
      
      <lk-add-ep-wrapper></lk-add-ep-wrapper>
    </mat-tab>
  </mat-tab-group>
</div>