<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column.key}}" *ngFor="let column of displayedColumns; let i = index">
    <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
  </ng-container>

  <!-- Edit column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element; let i = dataIndex">
      <button mat-icon-button aria-label="expand row" (click)="onEdit(element); $event.stopPropagation()">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Delete column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element; let i = dataIndex">
      <button mat-icon-button aria-label="expand row" (click)="onDelete(element); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expand column -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <form [formGroup]="getFormGroup(i)" class="expanded-wrapper">
          <mat-card>
            <ng-container *ngTemplateOutlet="examTemplate; context: { $implicit: element, rowIndex: i }"></ng-container>
          </mat-card>
          <mat-card>
            <ng-container *ngTemplateOutlet="RGRTemplate; context: { $implicit: element, rowIndex: i }"></ng-container>
          </mat-card>
          <mat-card class="d-flex flex-column">
            <ng-container *ngTemplateOutlet="lecturesTemplate; context: { $implicit: element, rowIndex: i }"></ng-container>
          </mat-card>
          <mat-card class="d-flex flex-column">
            <ng-container *ngTemplateOutlet="practicalTemplate; context: { $implicit: element, rowIndex: i }"></ng-container>
          </mat-card>
          <mat-card class="d-flex flex-column">
            <ng-container *ngTemplateOutlet="creditsTemplate; context: { $implicit: element, rowIndex: i }"></ng-container>
          </mat-card>
        </form>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<ng-template #examTemplate let-row let-rowIndex="rowIndex">
  <form [formGroup]="getFormGroup(rowIndex)">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      formControlName="exam">
      <mat-radio-button class="radio-button" [value]="row.exam">
        Іспити
      </mat-radio-button>
      <mat-radio-button class="radio-button" [value]="row.test">
        Заліки
      </mat-radio-button>
      <mat-radio-button class="radio-button" [value]="row.test2">
        Диф. Заліки
      </mat-radio-button>
    </mat-radio-group>
  </form>
</ng-template>

<ng-template #RGRTemplate let-row let-rowIndex="rowIndex">
  <form [formGroup]="getFormGroup(rowIndex)">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      formControlName="RGR">
      <mat-radio-button class="radio-button" value="RGR">
        РГР
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="RR">
        РР
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="KP">
        КП
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="KR">
        КР
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="RK">
        РК
      </mat-radio-button>
    </mat-radio-group>
  </form>
</ng-template>

<ng-template #lecturesTemplate let-row let-rowIndex="rowIndex">
  <form [formGroup]="getFormGroup(rowIndex)">
    <mat-form-field class="example-full-width">
      <mat-label>Лекції 1 1/2</mat-label>
      <input formControlName="lectures1" type="number" [min]="0" matInput placeholder="1">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Лекції 2 1/2</mat-label>
      <input formControlName="lectures2" type="number" [min]="0" matInput placeholder="1">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #practicalTemplate let-row let-rowIndex="rowIndex">
  <form [formGroup]="getFormGroup(rowIndex)">
    <mat-form-field class="example-full-width">
      <mat-label>Пр. 1 (2/2)</mat-label>
      <input formControlName="practical1" type="number" [min]="0" matInput placeholder="1">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Пр. 2 (1/2)</mat-label>
      <input formControlName="practical2" type="number" [min]="0" matInput placeholder="1">
    </mat-form-field>
  </form>
  
</ng-template>

<ng-template #creditsTemplate let-row let-rowIndex="rowIndex">
  <form [formGroup]="getFormGroup(rowIndex)">
    <mat-form-field class="example-full-width">
      <mat-label>Кредити</mat-label>
      <input formControlName="credits" type="number" [min]="0" matInput placeholder="1">
    </mat-form-field>
  </form>
</ng-template>