$max-input-width: 250px;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-wrapper {
        width: 80%;
        max-width: 400px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        mat-form-field {
            width: 100%;
            max-width: $max-input-width;
        }

        .submit-btn {
            width: 100%;
            max-width: $max-input-width;
        }
    }

}